<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header com Caixa de Mensagem</title>
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.7.2/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
        <link rel="stylesheet" href="/static/css/estilo_menu_atividades.css">
        <link rel="stylesheet" href="/static/css/estilo_emojis.css">
        <link rel="stylesheet" href="/static/css/components/estilo-nova-pub.css">
    </head>
<body>
    {% from 'shared/macros.html' import header_button %}
    <header class="cor-menu">
        <div class="d-inline-block col-10 min-vh-100 w-100" styles="padding: 0;">
            <nav class="d-flex flex-column min-vh-100 h-100">
                <div class="top-box">
                    <img src="/static/img/logo/logo.png" alt="Logo" class="h-75 w-75 text-align-center"> 
                </div>
                <div class="middle-box">
                {{header_button(nome="Página Inicial", click_function="window.location.href='/usuario/feed'", icone="fa-solid fa-house")}}
                {{header_button(nome="Pesquisa", click_function="window.location.href='#'", icone="fa-solid fa-magnifying-glass", id="pesquisarPerfilButton")}}
                {{header_button(nome="Mensagens", click_function="window.location.href='#'", icone="fa-regular fa-paper-plane")}}
                {{header_button(nome="Notificações", click_function="window.location.href='#'", icone="fa-regular fa-heart")}}
                {{header_button(nome="Nova Publicação", click_function="$('#novaPubModal').modal('show');", icone="fa-regular fa-square-plus", id="NovaPubBtn")}} 
                {{header_button(nome="Configurações", click_function="window.location.href='/usuario/configuracoes'", icone="bi bi-gear")}}
                {{header_button(nome="Perfil", click_function="window.location.href='/usuario/perfil'", icone="fa-solid fa-user")}}
                </div>
                
                <div class="bottom-box">
                    {%- if usuario.tipo_perfil == 1 %} {{header_button(nome="Fazer Upgrade do Plano", click_function="window.location.href='/usuario/plano'", icone="bi bi-stars", id="FazerUpgradeButton")}} {%- endif %}
                    {{header_button(nome="Mais", click_function="window.location.href='#'", icone="fa-solid fa-layer-group", id="mais")}}
                </div>
            </nav>
        </div>
    </header>
    <!-- Modais -->
    <div class="modal" id="confirmCloseModal" tabindex="-1" role="dialog" aria-labelledby="confirmCloseModalLabel" aria-hidden="true" style="z-index: 10000000;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-font" style="width: 80%; margin-left: 10%; margin-right: 10%; border-radius: 20px;">
                <div class="modal-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px 0px;">
                    <h5 style="color: black; text-align: center; margin: 10px 0px; font-weight: 300;">Descartar publicação?</h5>
                    <p style="color: gray; text-align: center; margin-bottom: 30px; font-size: 14px">Se você sair agora, suas edições não serão salvas.</p>
                    <button type="button" class="btn-descartar" style="width: 100%; height: 50px; background: none; border:none; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: red; cursor: pointer;">
                        Descartar
                    </button>
                    <button type="button" style="width: 100%; height: 50px; background: none; border:none; color: black; cursor: pointer;">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="novaPubModal" tabindex="-1" role="dialog" aria-labelledby="novaPubModalLabel" aria-hidden="true">
        <button type="button" class="btn-close-modal" onclick="$('#novaPubModal').modal('hide');">
            <i class="bi bi-x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-font" style="border-radius: 20px;">
                <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 10px; position: relative;">
                    <h5 class="modal-title" id="novaPubModalLabel" style="text-align: center; flex-grow: 1; font-size: 16px; font-weight: 300;"><b>Criar nova publicação</b></h5>
                </div>
                <div class="spacer" style="height: 50px;"></div>
                <div class="modal-body" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                    <div style="position: relative; margin: 30px auto; width: 100px; height: 100px;">
                        <i class="bi bi-image" style="font-size: 70px; position: absolute; left: 40%; top: 50%; transform: translate(-50%, -50%); z-index: 2;"></i>
                        <i class="bi bi-play-btn-fill" style="font-size: 70px; position: absolute; left: calc(50% + 5px); top: calc(15%); z-index: 2;"></i>
                    </div>
                    <p style="margin-top: 20px; font-size: 18px">Arraste as fotos e os vídeos aqui</p>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; margin-top: auto; margin-bottom: 20px;">
                    <button type="button" class="btn-nova-pub-modal" id="selecionarImagemPub">Selecionar do Computador</button>
                    <input type="file" id="inputImagemPub" accept="image/*" style="display: none;" />
                </div>
                <div class="spacer" style="height: 100px;"></div>
            </div>
        </div>
    </div>
    
    <!-- Modal para cortar imagem -->
    <div class="modal" id="cortarImagemModal" tabindex="-1" role="dialog" aria-labelledby="cortarImagemModalLabel" aria-hidden="true">
        <button type="button" class="btn-close-modal" onclick="$('#cortarImagemModal').modal('hide');">
            <i class="bi bi-x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-font" style="border-radius: 20px; overflow:hidden;">
                <div class="modal-header" style="display: flex; align-items: center; justify-content: center; width: 100%; padding: 10px; position: relative;">
                    <button type="button" class="close" aria-label="Close" onclick="$('#cortarImagemModal').modal('hide'); $('#novaPubModal').modal('show');" style="background: none; border: none; padding: 0; cursor: pointer; position: absolute; left: 10px;">
                        <i class="bi bi-arrow-left" style="font-size: 24px; color: black;"></i>
                    </button>
                    <h5 class="modal-title" id="cortarImagemModalLabel" style="text-align: center; flex-grow: 1; font-size: 16px; font-weight: 300;">
                        <b>Cortar Imagem</b>
                    </h5>
                    <button type="button" id="avancarPubBtn" class="btn" style="background: transparent; border: none; color: #006994; font-size: 16px; text-decoration: none; cursor: pointer; position: absolute; right: 10px;">
                        Avançar
                    </button>
                </div>
                               
                <div class="modal-body-pub">
                    <div id="crop-container-pub">
                        <img id="imagemPub" src="" alt="Imagem para Publicação">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para compartilhar a publicação -->
    <div class="modal" id="compartilharPubModal" tabindex="-1" role="dialog" aria-labelledby="compartilharPubModalLabel" aria-hidden="true">
        <button type="button" class="btn-close-modal" onclick="$('#compartilharPubModal').modal('hide');">
            <i class="bi bi-x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 60%;">
            <div class="modal-content modal-font" style="border-radius: 20px; overflow:hidden;">
                <div class="modal-header" style="display: flex; align-items: center; justify-content: center; width: 100%; padding: 10px; position: relative;">
                    <button type="button" class="close" aria-label="Close" onclick="$('#compartilharPubModal').modal('hide'); $('#cortarImagemModal').modal('show');" style="background: none; border: none; padding: 0; cursor: pointer; position: absolute; left: 10px;">
                        <i class="bi bi-arrow-left" style="font-size: 24px; color: black;"></i>
                    </button>
                    <h5 class="modal-title" id="cortarImagemModalLabel" style="text-align: center; flex-grow: 1; font-size: 16px; font-weight: 300;">
                        <b>Criar nova publicação</b>
                    </h5>
                    <button id="btn-compartilhar" type="button" class="btn" style="background: transparent; border: none; color: #006994; font-size: 16px; text-decoration: none; cursor: pointer; position: absolute; right: 10px;">
                        Compartilhar
                    </button>
                </div>
                <div class="modal-body-share-pub">
                    <div class="d-flex">
                        <div id="share-pub-img-container" style="flex: 0 0 60%; max-width: 60%; border-right: 1px solid #ccc;">
                            <img id="imagemSharePub" src="" alt="Imagem para Publicação" style="max-width: 100%; height: auto;">
                        </div>
                        
                        <div id="share-pub-text-container" style="flex: 0 0 40%; max-width: 40%; height: auto; display: flex; flex-direction: column; padding: 10px;">
                            <div style="display: flex; align-items: center;">
                                <div style="width: 40px; height: 40px; border-radius: 50%; background-color: #e0e0e0; margin-right: 10px; overflow: hidden;">
                                    <img id="fotoPerfil" src="{% if usuario.foto_perfil %}/static/img/{{ usuario.id }}.jpeg{% else %}/static/img/usuario.jpg{% endif %}" alt="Foto de Perfil" class="rounded-circle mb-3" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>                                
                                <span style="font-weight: bold;">{{usuario.nome_perfil}}</span>
                            </div>
                            <div class="content-container">
                                <textarea class="textarea-pub" id="textarea-pub" oninput="validarTextoPub(this); atualizarContagem(this);"></textarea>
                                <div class="emoji-button-container">
                                    <button class="emoji-button" onclick="toggleEmojiDrawer()">
                                        <i class="bi bi-emoji-smile"></i>
                                    </button>
                                    <div id="contador-caracteres" style="margin-right: 5px; font-size: 14px; color: #999;">
                                        0/500
                                    </div>
                                </div>
                                <div class="emoji-container">
                                    <div id="modal-emoji" class="modal-emoji" onclick="closeModal(event)">
                                        <div class="emoji-drawer-container"> <!-- Novo contêiner -->
                                            <div class="emoji-drawer"> 
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😃</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😄</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😁</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😆</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😅</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😂</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🤣</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😇</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😉</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😊</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😍</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😋</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😜</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🤓</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😎</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😏</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😤</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😢</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😭</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😱</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😵</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🤯</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🥳</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">😷</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🤒</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🤕</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🤢</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🤮</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🥺</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">❤️</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">💙</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">💚</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">💛</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🧡</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">💜</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🖤</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🤍</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍏</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍎</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍌</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍇</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍓</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍉</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍊</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍋</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍈</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🥭</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍍</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🥥</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🥑</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍆</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🌽</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🥕</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🥔</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🥗</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍕</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍔</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🌭</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍟</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍝</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍣</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍰</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍦</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍩</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🍪</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🧑‍⚕️</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">👩‍⚕️</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🏃‍♂️</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🏃‍♀️</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🧘‍♂️</div>
                                                <div class="emoji" onclick="addEmoji(this.innerHTML)">🧘‍♀️</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('pesquisarPerfilButton').addEventListener('click', function() {
            const dropdown = document.getElementById('searchDropdown');
            const corMenu = document.querySelector('.cor-menu'); 
            const body = document.body; 
        
            
            if (dropdown.style.display === 'block') {
                
                dropdown.style.animation = 'slideOutToLeft 0.5s ease-out forwards';
                setTimeout(function() {
                    dropdown.style.display = 'none'; 
                }, 500); 
                corMenu.classList.remove('active'); 
                body.classList.remove('dropdown-active'); 
            } else {
                dropdown.style.display = 'block'; 
                
                dropdown.style.animation = 'none'; 
                dropdown.offsetHeight; 
                dropdown.style.animation = 'slideInFromLeft 0.5s ease-out forwards'; 
                corMenu.classList.add('active'); 
                body.classList.add('dropdown-active'); 
            }
        });
    
        
        document.addEventListener('click', function(event) {
            const dropdown = document.getElementById('searchDropdown');
            const button = document.getElementById('pesquisarPerfilButton');
            const body = document.body; 
            const corMenu = document.querySelector('.cor-menu'); 
            
            if (!button.contains(event.target) && !dropdown.contains(event.target)) {
                
                dropdown.style.animation = 'slideOutToLeft 0.5s ease-out forwards';
                setTimeout(function() {
                    dropdown.style.display = 'none'; 
                }, 500); 
                corMenu.classList.remove('active'); 
                body.classList.remove('dropdown-active'); 
            }
        });
    </script>

    <!--Script para pesquisar no banco de dados-->
    <script>
        document.getElementById('inputPesquisaPerfil').addEventListener('input', function() {
            const pesquisa = this.value.trim(); 
            const resultadosBox = document.getElementById('resultadosPesquisaPerfil');
        
            
            resultadosBox.innerHTML = '';
        
            if (pesquisa.length >= 3) { 
                fetch(`/usuario/pesquisar_perfil?nome_perfil=${pesquisa}`)
                    .then(response => response.json())
                    .then(usuarios => {
                        if (usuarios.length > 0) {
                            usuarios.forEach(usuario => {
                                const div = document.createElement('div');
                                div.style.display = 'flex';
                                div.style.alignItems = 'center';
                                div.style.padding = '10px 5px';
                                div.style.borderRadius = '10px';
                                div.style.cursor = 'pointer'; 
                                div.addEventListener('mouseenter', () => {
                                    div.style.backgroundColor = '#e7e7e7'; 
                                });
                                div.addEventListener('mouseleave', () => {
                                    div.style.backgroundColor = ''; 
                                });
        
                                
                                const fotoDiv = document.createElement('div');
                                fotoDiv.style.width = '45px';
                                fotoDiv.style.height = '45px';
                                fotoDiv.style.borderRadius = '50%';
                                fotoDiv.style.backgroundColor = '#e0e0e0';
                                fotoDiv.style.marginRight = '10px';
                                fotoDiv.style.overflow = 'hidden';
                                const img = document.createElement('img');
                                img.src = usuario.foto_url; 
                                img.alt = 'Foto de Perfil';
                                img.style.width = '100%';
                                img.style.height = '100%';
                                img.style.objectFit = 'cover';
                                fotoDiv.appendChild(img);
        
                                
                                const textDiv = document.createElement('div');
                                textDiv.style.display = 'flex';
                                textDiv.style.flexDirection = 'column';
                                const nomePerfilSpan = document.createElement('span');
                                nomePerfilSpan.textContent = usuario.nome_perfil;
                                nomePerfilSpan.style.fontWeight = 'bold';
                                nomePerfilSpan.style.fontSize = '14px';
                                const nomeSpan = document.createElement('span');
                                nomeSpan.textContent = usuario.nome;
                                nomeSpan.style.fontSize = '15px';
        
                                textDiv.appendChild(nomePerfilSpan);
                                textDiv.appendChild(nomeSpan);
        
                                div.appendChild(fotoDiv);
                                div.appendChild(textDiv);
        
                                
                                div.addEventListener('click', () => {
                                    window.location.href = `/usuario/visitar_perfil?usuario_id=${usuario.id}`; 
                                });
        
                                resultadosBox.appendChild(div);
                            });
                        } else {
                            resultadosBox.innerHTML = '<p>Nenhum usuário encontrado</p>';
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao buscar usuários:', error);
                    });
            }
        });
    </script>
    

    <script>
        const btnMore = document.getElementById('mais');
        const moreMenu = document.getElementById('maisMenu');

        function showMenuAboveButton() {
        const btnRect = btnMore.getBoundingClientRect(); 
        
        
        moreMenu.style.left = `${btnRect.left}px`;  
        moreMenu.style.bottom = `${window.innerHeight - btnRect.top +10}px`;  

        
        moreMenu.style.display = 'block';
        }

        btnMore.addEventListener('click', function() {
        if (moreMenu.style.display === 'block') {
            moreMenu.style.display = 'none';  
        } else {
            showMenuAboveButton();  
        }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const inputImagemPub = document.getElementById('inputImagemPub');
            const imagemPub = document.getElementById('imagemPub');
            const avancarPubBtn = document.getElementById('avancarPubBtn');
            let cropperPub;
    
            document.getElementById('selecionarImagemPub').addEventListener('click', function(event) {
                event.preventDefault();
                inputImagemPub.click();
            });
        
            inputImagemPub.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        imagemPub.src = e.target.result;
                        $('#novaPubModal').modal('hide');
                        $('#cortarImagemModal').modal('show');
                        imagemPub.onload = function() {
                            if (cropperPub) {
                                cropperPub.destroy();
                            }
                            cropperPub = new Cropper(imagemPub, {
                                aspectRatio: 1,
                                viewMode: 3,
                                dragMode: 'move',
                                autoCropArea: 1,
                                cropBoxMovable: false,
                                cropBoxResizable: false,
                                zoomable: true,
                                movable: true,
                                background: false,
                                guides: false,
                                center: false,
                                highlight: false,
                                modal: false,
                            });
                        };
                    };
                    reader.readAsDataURL(file);
                }
            });
    
            function ajustarAlturaCropContainer() {
                const cropContainer = document.getElementById('crop-container-pub');
                const largura = cropContainer.clientWidth;
                cropContainer.style.height = largura + 'px';
            }
    
            function ajustarAlturaSharePubTextContainer() {
                const imgContainer = document.getElementById('share-pub-img-container');
                const textContainer = document.getElementById('share-pub-text-container'); 
    
                if (imgContainer && textContainer) {
                    textContainer.style.height = imgContainer.clientHeight + 'px';
                }
            }
    
            $('#cortarImagemModal').on('shown.bs.modal', ajustarAlturaCropContainer);
            window.addEventListener('resize', ajustarAlturaCropContainer);
    
            avancarPubBtn.addEventListener('click', function() {
                if (cropperPub) {
                    const canvas = cropperPub.getCroppedCanvas({
                        width: 1080,
                        height: 1080,
                    });
                    const croppedImage = canvas.toDataURL();
    
                    const imagemSharePub = document.getElementById('imagemSharePub');
                    imagemSharePub.src = croppedImage;
    
                    
                    imagemSharePub.onload = function() {
                        ajustarAlturaSharePubTextContainer();
                    };
    
                    $('#cortarImagemModal').modal('hide');
                    $('#compartilharPubModal').modal('show');
                }
            });

            $(document).ready(function() {
                function setupModal(modalId, confirmModalId) {
                    $(modalId).modal({
                        backdrop: 'static', 
                        keyboard: false 
                    });
            
                    $(modalId).on('click', function(event) {
                        if (!$(event.target).closest('.modal-content').length && !$(event.target).closest('.btn-close-modal').length) {
                            event.stopPropagation();
            
                            $(modalId).css('z-index', 1040);
                            $(confirmModalId).css('z-index', 1050);
            
                            $('<div class="custom-backdrop"></div>').appendTo('body');
            
                            $(confirmModalId).modal('show');
                        }
                    });
            
                    $(confirmModalId + ' button:first').on('click', function() {
                        $(confirmModalId).modal('hide'); 
                        $(modalId).modal('hide');
                    });
            
                    
                    $(confirmModalId + ' button:last').on('click', function() {
                        $(confirmModalId).modal('hide'); 
                        
                        $('.modal-backdrop').css('display', 'block'); 
                    });
            
                    $(confirmModalId).on('hidden.bs.modal', function() {
                        $('.custom-backdrop').remove(); 
                    });
                }
            
                
                setupModal('#novaPubModal', '#confirmCloseModal');
                setupModal('#cortarImagemModal', '#confirmCloseModal'); 
                setupModal('#compartilharPubModal', '#confirmCloseModal'); 
            });

            $('#novaPubModal').on('shown.bs.modal', function() {
                inputImagemPub.value = ''; 
                if (cropperPub) {
                    cropperPub.destroy(); 
                    cropperPub = null; 
                }
                imagemPub.src = ''; 
            });
        });
    </script>    

    <script>
        function addEmoji(emoji) {
            let inputEle = document.getElementById('textarea-pub');
            inputEle.value += emoji;
            atualizarContagem(inputEle); 
        }
    
        function toggleEmojiDrawer() {
            let modal = document.getElementById('modal-emoji');
            modal.classList.toggle('active');
        }
    
        function closeModal(event) {
            if (event.target === document.getElementById('modal-emoji')) {
                toggleEmojiDrawer(); 
            }
        }
    
        function validarTextoPub(textarea) {
            let valor = textarea.value;
            if (valor.length > 500) {
                valor = valor.substr(0, 500); 
                textarea.value = valor; 
            }
            atualizarContagem(textarea); 
        }
    
        function atualizarContagem(textarea) {
            const contador = document.getElementById('contador-caracteres');
            const numeroCaracteres = textarea.value.length;
            contador.textContent = `${numeroCaracteres}/500`; 
        }
    </script>  
    
    <script>
        document.getElementById("btn-compartilhar").addEventListener("click", async function() {
            const textoPub = document.getElementById("textarea-pub").value;
            const imagemInput = document.getElementById("imagemSharePub"); 
        
            
            const formData = new FormData();
            formData.append("texto_pub", textoPub);
        
            
            if (imagemInput.src) {
                try {
                    const response = await fetch(imagemInput.src);
                    if (!response.ok) throw new Error("Erro ao buscar a imagem.");
        
                    const blob = await response.blob();
                    const nomeArquivo = `imagem_${Date.now()}.jpg`; 
                    formData.append("imagem", blob, nomeArquivo); 
                } catch (error) {
                    console.error("Erro ao processar a imagem:", error);
                    return; 
                }
            } else {
                console.warn("Nenhuma imagem para compartilhar."); 
            }
        
            
            try {
                const res = await fetch("/usuario/compartilhar_publicacao", {
                    method: "POST",
                    body: formData,
                });
        
                if (res.ok) {
                    console.log("Publicação compartilhada com sucesso!");
                    $('#compartilharPubModal').modal('hide');
                    window.location.href = "/usuario/feed";
                } else {
                    const errorMessage = await res.text(); 
                    console.error("Erro ao compartilhar a publicação:", errorMessage);
                }
            } catch (error) {
                console.error("Erro na requisição:", error);
            }
        });        
    </script>
</body>
</html>
