
.emoji-button-container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.emoji-container {
    height: 50%;
    width: 100%;
    position: relative; 
    padding: 0px;
    padding-bottom: 20px;
}

.emoji-button {
    background-color: transparent;     
    border: none;     border-radius: 50%;     
    width: 30px;     height: 30px;     
    display: flex;     align-items: center;     
    justify-content: center;     
    cursor: pointer;     
    transition: background-color 0.3s; }

.emoji-button i {
    color: #999;
    font-size: 20px; }

.emoji-drawer-container {
    padding: 5px;     
    background-color: white;     
    border-radius: 1px; }

.emoji-drawer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;     
    height: 100%;     
    overflow-y: scroll;     
    padding: 8px;     
    position: absolute;     
    z-index: 1000;
}

.emoji-drawer::-webkit-scrollbar {
    display: none; }

.emoji {
    text-align: center;
    font-size: 22px;
    padding: 2px;
    cursor: pointer;
}

.emoji:hover {
    background-color: #f0f0f0;
}

#input {
    width: 300px;
    padding: 8px;
    margin-top: 16px;
}

#modal-emoji {
    display: none;     position: absolute;     top: 0; 
    left: 0; 
    width: 100%; 
    height: 95%; 
    overflow-y: scroll; 
    border-radius: 2px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 999; 
}

#modal-emoji::-webkit-scrollbar {
    display: none; }

#modal-emoji.active {
    display: flex; }
