{% extends "shared/pages/base.html" %}
{% block subtitulo %}Configuração{% endblock %}
{% block conteudo %}


<link rel="stylesheet" href="/static/css/estilo_configuracao.css">
<body class="d-flex flex-column min-vh-100">
    <div class="container" id="configuracoesPage">
        <div class="row" id="configuracoesRow">
            <div class="col min-vh-100" style="width: 100%">
                <div class="main-container">
                    <h1 class="main-title">Configurações de sua conta</h1>
                    <h2 class="main-subtitle">Gerencie suas experiências e configurações da sua conta</h2>
                    <hr>
                    <br>
                    <h3 class="list-title">Sua experiência com a YouSpace</h3>
                    <ul>
                        <li>
                            <a class="text-black text-decoration-none my-2" href="/usuario/feedback">
                            <i class="bi bi-card-checklist"></i>
                            Feedback </a>
                        </li>
                        {%- if usuario.tipo_perfil == 2 %} 
                            <li>
                                <a class="text-black text-decoration-none my-2" href="/usuario/anuncios">
                                <i class="bi bi-megaphone-fill"></i>
                                Anúncios </a>
                            </li>
                        {%- endif %}
                        <li>
                            <a class="text-black text-decoration-none my-2" href="/usuario/tempogasto">
                            <i class="bi bi-clock "></i>
                            Tempo gasto </a>
            
                        </li>
                    </ul>
                    <br>
                    <hr>
                    <h3 class="list-title">Perfil</h3>
                    <ul>
                        <li>
                            <a class="text-black text-decoration-none my-2" href="/usuario/editar_perfil">
                            <i class="bi bi-person-fill-gear"></i>
                            Editar perfil </a>
                        </li>
                        {%- if usuario.tipo_perfil == 2 %} 
                            <li>
                                <a class="text-black text-decoration-none my-2" href="/usuario/arquivados">
                                <i class="bi bi-archive-fill"></i>
                                Arquivados</a>
                            </li>
                        {%- endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.js"></script>
</body>
{% endblock %}